/FodboldTurnering/build/
*.properties
*.xml
*.properties
*.xml
FodboldTurnering/nbproject/private/private.properties
FodboldTurnering/nbproject/private/private.xml
FodboldTurnering/nbproject/private/private.properties
/FodboldTurnering/dist/